@import "var.less";



.ltn {
  border: @border;  
  display: flex;
  flex-direction: column;
  background-image: url("../pict/bglk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
    &__hdr {
      border: @border;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 15%;
      margin-top: 100px;
        h3 {
          font-size: 5rem;
          color: white;          
          font-family: 'Reise';          
        }
    }
    &__muz {
      border: @border;
      display: flex;
      flex-wrap: wrap;
      height: 90%;
      color: white;
    }
}