@import "var.less";

.lk {
  // border: @border;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("../pict/wp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
    &__siteheader {
      // border: @border;
      display: flex;
      height: 25%;
      width: 100%;
    }
    &__profile {
      // border: @border;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 150px;
      margin: 0 10px;
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: 0 14px 28px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.5);
    }
    &__profilepict {
      // border: @border;
      width: 80%;
      height: 80%;
       img {
         border-radius: 7px;
       }
    }
    &__profilelogin {
      // border: @border;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 20%;
        span {
          color: white;
        }
    }
    &__menu {
      // border: @border;
      display: flex;
      width: 100%;
      height: 50px;
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: 0 14px 28px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.5);
    }
    &__linkscontent {
      // border: @border;
      display: flex;
      align-items: center;
      width: 90%;
        a {
          margin: 0 30px;
          text-decoration: none;
          color: white;
        }
    }
    &__logout {
      border: @border;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10%;
      margin-right: 10px;
        a {
          text-decoration: none;
          color: white;
        }
    }

    &__upload {
      // border: @border;
      display: flex;
      justify-content: center;
      height: 7%;
    }
    &__uploadform {
      // border: @border;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: -45px;
      width: 40%;
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: 0 14px 28px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.5);
      transition: @transition;
        .lg-block({
          width: 50%;
          transition: @transition;
        });
        .md-block({
          width: 67%;
          top: 0px;
          transition: @transition;
        });
        .sm-block({
          width: 75%;
        });
        .xs-block({
          width: 85%;
        });
        input {
          color: white;
        }
    }

    &__content {
      border: @border;
      display: flex;
      height: 68%;
      margin-top: 10px;
        .md-block({
          flex-direction: column;
          margin-top: 3px;
        });
    }
    &__photo {
      border: @border;
      width: 50%;
      margin-right: 5px;
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: 0 14px 28px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.5);
        .md-block({
          width: 100%;
          height: 50%;
          margin: 0;
        });
    }
    &__music {
      border: @border;
      width: 50%;
      margin-left: 5px;
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: 0 14px 28px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.5);
        .md-block({
          width: 100%;
          height: 50%;
          margin: 0;
        });
    }



}