@import "smart-grid.less";
@import "var.less";


.prf {
  // border: @border;  
  display: flex;
  flex-direction: column;
  height: 100vh;      
    &__header {    
      border: @border;
      display: flex;      
      height: 50px;
      width: 100%;        
      background-color: lightcyan;
    }
    &__menu {
      // border: @border;
      display: flex;
      justify-content: center;
      width: 80%;
        h3 {
          align-self: center;          
        }
    }
  
    &__profilename {
      // border: @border;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10%;
      height: 100%;
        span {
          text-align: center;
          font-weight: bold;
          font-size: 1.2rem;
        }
    }

    &__exit {
      // border: @border;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10%;
    }

    &__uploadblock {
      border: @border;      
      display: flex;
      justify-content: center;
      height: 50px;
      margin-top: 10px;
      padding: 7px;
    }

    &__uploadform {
      border: @border;
      display: flex;
      align-items: center;
      height: 100%;
    }

    &__galeryblock {
      border: @border;
      display: flex;
      justify-content: center;      
      margin-top: 50px;
        img {
          height: 200px;
          width: 200px;
          margin: 10px;
        }
    }

    &__guestbook {
      border: @border;
      display: flex;
      justify-content: center;
    }
    &__block {
      border: @border;
      display: flex;
      justify-content: center;
      width: 50%;
      height: 80px;
    }
    &__logo {
      border: @border;      
      width: 15%;
    }
    &__message {
      border: @border;
      width: 85%;
    }

}
