@import "var.less";

.reg {
  // border: @border;
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  background-image: url("../pict/bkgreg.jpg");
  background-size: cover;
    &__regform {
      // border: @border;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      transition: @transition;
        .sm-block({
          width: 100%; 
          transition: @transition;
        });
    }    
    &__fields {
      // border: @border;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
      height: 50%;
        input {
          border-radius: 5px;
          width: 50%;
          height: 30px;
          margin: 10px 0;
          padding-left: 7px;
          color: black;
          // font-family: 'Hitman';
          transition: @transition;
            .lg-block({
              width: 60%;
              transition: @transition;
            });
            .md-block({
              width: 80%;
              transition: @transition;
            });
        }
        button {
          border-radius: 5px;
          width: 50%;
          height: 40px;
          color: white;
          font-family: 'Hitman';
          font-weight: bolder;
          margin-top: 20px;
          cursor: pointer;
          transition: @transition;    
          background-color: darkgray;      
            .lg-block({
              width: 60%;
              transition: @transition;
            });
            .md-block({
              width: 80%;
              transition: @transition;
            });
        }
    }
}