@import "smart-grid.less";
@import "var.less";


.reset();

.wrapper { 
	.wrapper();
}

.body {
	box-sizing: border-box;
}

////////// MIXINS BLOCK START

////////// MIXINS BLOCK END


.wrp {
	border: @border;
	display: flex;	
  flex-direction: column;	
  height: 100vh;
		&__insertquery {
			border: @border;
			display: flex;	
      flex-direction: column;
      height: 35%;
      background-color: lightgoldenrodyellow;
		}
		&__insertform {
			display: flex;	
			flex-direction: column;
			width: 20%;
				input {
					margin:	5px;
					height: 25px;
				}
				input:nth-child(1) {
					margin-top: 30px;
				}
				button {
					margin-bottom: 50px;
				}
    }
    
    &__test {
      border: @border;      
      display: flex;
      height: 10%;
    }

    &__newsblock {
      border: @border;
      display: flex;
      height: 70%;
    }
}