@import "smart-grid.less";
@import "var.less";

.reset();

.wrapper { 
	.wrapper();
}

.body {
	box-sizing: border-box;
}

////////// MIXINS BLOCK START

////////// MIXINS BLOCK END


.wrp {
	border: @border;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	&__imgblock {
		border: @border;
		display: flex;
		align-items: center;
		width: 40%;
		height: 80%;						
	}
	&__entryblock {
		border: @border;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40%;
		height: 80%;						
	}
	&__formsblock {
		border: @border;	
		width: 90%;
		height: 70%;
	}
	&__entry {
		border: @border;
		height: 40%;
	}
 


}